@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100,100i,300,300i,400,400i,600,600i,700,700i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
$icon-font-path: '../node_modules/bootstrap-sass/assets/fonts/bootstrap/';
@import "./partials/variables";
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "./partials/fonts";
@import "./partials/navbar";
body{
  margin-top: $navbar-cudddle-height;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: $gray-lighter 0px 1px 1px;
  transition-property: opacity;
  transition-duration: 0.4s;
  transition-timing-function: ease;
  opacity: 0;
  &.loaded{
    opacity: 1;
  }
}

section{
  padding-top: 60px;
  padding-bottom: 60px;
}
#pets-with-home{
  position: absolute;
  bottom: 0;
  right: 0;
  @extend .label;
  @extend .label-danger;
  border-radius: 0;
  background: $gray-dark;
}

#hero{
  margin-top: -$navbar-cudddle-height;
  padding-top: 120px;
  padding-bottom: 0px;
  min-height: 100vh;
  video{
    max-width: 680px;
    width: 100%;
    border-bottom: 2px $gray-dark solid;
  }
  img{
    max-width: 680px;
    width: 100%;
  }
  h1{
    font-size: 96px;
  }
  .start{
    padding-top: 40px;
    a{
      color: $gray-dark;
      text-decoration: none;
      border-bottom: 1px $gray-dark solid;
      &:hover{
        font-weight: bold;
      }
    }
  }
}
