@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100,100i,300,300i,400,400i,600,600i,700,700i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
$icon-font-path: '../node_modules/bootstrap-sass/assets/fonts/bootstrap/';
@import './partials/variables';
//@import '../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

// Core variables and mixins
@import '../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables';
@import '../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins';

// Reset and dependencies
@import '../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/normalize';
@import '../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/print';
//@import '../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/glyphicons';

// Core CSS
@import '../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/scaffolding';
@import '../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/type';
@import '../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/code';
@import '../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/grid';
@import '../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/tables';
@import '../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/forms';
@import '../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/buttons';

// Components
@import '../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/component-animations';
@import '../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/dropdowns';
@import '../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/button-groups';
@import '../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/input-groups';
@import '../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/navs';
@import '../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/navbar';
//@import '../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/breadcrumbs';
//@import '../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/pagination';
//@import '../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/pager';
@import '../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/labels';
@import '../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/badges';
//@import '../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/jumbotron';
//@import '../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/thumbnails';
@import '../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/alerts';
//@import '../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/progress-bars';
//@import '../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/media';
//@import '../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/list-group';
//@import '../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/panels';
//@import '../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/responsive-embed';
@import '../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/wells';
@import '../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/close';

// Components w/ JavaScript
//@import '../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/modals';
//@import '../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/tooltip';
//@import '../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/popovers';
//@import '../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/carousel';

// Utility classes
@import '../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/utilities';
@import '../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/responsive-utilities';

@import './partials/form';
@import './partials/fonts';
@import './partials/navbar';
@import './partials/buttons';
body{
  margin-top: $navbar-cudddle-height;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: $gray-lighter 0px 1px 1px;
  transition-property: opacity;
  transition-duration: 0.4s;
  transition-timing-function: ease;
  opacity: 0;
  &.loaded{
    opacity: 1;
  }
}

section{
  padding-top: 60px;
  padding-bottom: 60px;
}
#pets-with-home{
  position: absolute;
  bottom: 0;
  right: 0;
  @extend .label;
  @extend .label-danger;
  border-radius: 0;
  background: $gray-dark;
}

#hero{
  margin-top: -$navbar-cudddle-height;
  padding-top: 120px;
  padding-bottom: 0px;
  min-height: 100vh;
  video{
    max-width: 680px;
    width: 100%;
    border-bottom: 2px $gray-dark solid;
  }
  img{
    max-width: 680px;
    width: 100%;
  }
  h1{
    font-size: 96px;
  }
}
.start{
  padding-top: 40px;
  a{
    color: $gray-dark;
    text-decoration: none;
    &:after{
      content: ' ';
      display: block;
      margin: 0 auto;
      width: 30px;
      border-bottom: 1px $gray-dark solid;
    }
    &:hover{
      font-weight: bold;
    }
  }
}

#error{
  img{
    max-width: 680px;
    width: 100%;
    border-bottom: 2px $gray-dark solid;
  }
}
#registration{
  .form-group{
    margin-bottom: $padding-large-vertical*3;
  }
  .input-group{
    padding-bottom: $padding-large-vertical;
  }
}