extends ./layout
block append scripts
    script(src='js/home.js')
block content
    section#hero
        div.container
            div.text-center
                video(autoplay, loop, poster="img/puppy-8.jpg")
                    source.hidden-sm.hidden-xs(type="video/mp4", src="video/12626624.mp4")
                    img(src='img/puppy-8.jpg' alt='Adopt Me - dog')
                h1  fondle
                div.h5  Wanna be my owner ?
                div.start
                    a(href='/search') start
