block title
    title fondle

block meta
    meta(name='author', content='Rene Ramirez <rene.szabo@gmail.com>')
    meta(name='description', content='fondle - adopt a dog')
    meta(name='keywords', content='fondle, adopt, dog, app')
    meta(name='viewport', content='initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width')
    meta(property='og:title', content='fondle - adopt a dog')
    meta(property='og:description', content='fondle - adopt a dog')
    meta(property='og:url', content='https://humber-pug.herokuapp.com')
    meta(property='og:type', content='website')
    meta(property='og:site_name', content='fondle')
    meta(itemprop='name', content='fondle')
    meta(itemprop='description', content='fondle - adopt a dog')
    //- meta(property='og:image', content='')